body{
    margin: 0px;
    padding: 0px;
}
header{
    border: 1px solid #c3c3c3;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
}

.logo img{
    height: 50px;
}
