body{
    margin: 0px;
    padding: 0px;
}
header{
    border: 1px solid #c3c3c3;
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    background-color: aquamarine;
    align-items: center;
    padding: 10px;
    animation-name: example;
    animation-duration: 30s;
}
@keyframes example {
    0% {background-color: aquamarine;}
    50% {background-color: skyblue;}
    100% {background-color: aquamarine;}
  }
.logo{
    display: flex;
}

.logo img{
    height: 50px;
}
a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
}


@media(max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}